{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset ('css/homePage.css') }}">
{% endblock %}

{% block body %}

<div class="container">
	<div class="home-screen">
	<div class="row row-logo">
		<div class="col-sm-6">
			{# <div class="game-logo">
				DeathBox
			</div>#}
			<div class="logo-outer-wrapper left-beer">
				<img class="game-logo-3" src="/images/beer_chug2.png">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="logo-outer-wrapper right-beer">
				<img class="game-logo-2" src="/images/beer_chug.png">
			</div>
		</div>
	</div>

	<div class="row-buttons">
		<div class="row">
			<div class="col-sm-12">
				<a href="{{ path('play-deathbox') }}" class="game-button">PLAY DB</a>

				{# <button class="game-button play-deathbox-button">PLAY DB </button> #}
			</div>
		</div>
		
		{# <div class="row">
			<div class="col-sm-12">
				<a href="{{ path('game_rules') }}" class="game-button">RULES </a> 
			</div>
		</div> #}

		<div class="row">
			<div class="col-sm-12">
				<a href="#" class="game-button stats-button">STATS</a>
			</div>
		</div>
	</div>
	</div>

	

</div>
{% endblock %}

{% block javascripts %}
	
{% endblock %}


