{% extends 'base.html.twig' %}

{% block javascripts %}
  <script src="{{ asset ('js/db.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.field-play').hide();
    });

    $(document).on('click', 'option', function(){
      $('.play-button').show();
    });
  </script>

{% endblock %}

{% block body %}
<div class="container">

  <div class='row choose-players-div'>
    <div class="col-sm-12">
      <h1>Please Choose your players</h1>
      <div class="players-list">
        <select class="select-player-list" size="3" style="width: 50%;">
        {% for player in players %}
          <option id="{{player.id}}" class="game-button" style="text-align: center;">{{player.name}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="row play-button" style="display: none; text-align: center;">
    <div class="col-sm-12">
      <button class="game-button start-deathbox-game">START</button>
    </div>
  </div>



  <div class="field field-play">

    <div id="deck-back">
      </div>
    <div class="slt slot1">
      <div class="card">
      </div>
    </div>
    <div class="slt slot2">
      <div class="card">
      </div>
    </div>
    
    <div class="slt slot3">
      <div class="card">
      </div>
    </div>

    <div class="slt slot4">
      <div class="card">
      </div>
    </div>

    <div class="slt slot5">
      <div class="card">
      </div>
    </div>

    <div class="slt slot6">
      <div class="card">
      </div>
    </div>

    <div class="slt slot7">
      <div class="card">
      </div>
    </div>

    <div class="slt slot8">
      <div class="card">
      </div>
    </div>

    <div class="slt slot9">
      <div class="card">
      </div>
    </div>

    <button class="deal-number-of-cards">Deal # Of Cards</button>

    <div class="correct-display"></div>

    <div class="round text">
    </div>
  </div>

      
  <div class="modal fade" id="start-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
         <a id="start-timer-button" data-dismiss="modal">DRINK</a>
         <div class="number-of-secs-countdown">
         </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="countdown-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="countdown-modal-timer">
        </div>
      </div>
    </div>
  </div>


  <audio class="timer-sound" src="https://actions.google.com/sounds/v1/alarms/beep_short.ogg"></audio>

</div>

  
{% endblock %}
