{% extends 'base.html.twig' %}

{% block javascripts %}
  <script src="{{ asset ('js/rideTheWave.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">
  <div class="field">

  	<div class="slt slot1">
  		<div class="card">
      </div>
    </div>

  	<div id="deck-back">
      </div>

    <div class="button red-button">
    	Red
    </div>
    <div class="button black-button">
    	Black
    </div>

    <div class="button in-button">In</div>
    <div class="button out-button out-button1">Out</div>
    <div class="button out-button out-button2">Out</div>

    <div class="suit-button spade-button"></div>
    <div class="suit-button heart-button"></div>
    <div class="suit-button club-button"></div>
    <div class="suit-button diamond-button"></div>

    <div class="correct-display"></div>

  </div>


  <div class="modal fade" id="start-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
         <a id="start-timer-button" data-dismiss="modal">DRINK</a>
         <div class="number-of-secs-countdown">
         </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="countdown-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="countdown-modal-timer">
        </div>
      </div>
    </div>
  </div>


  <audio class="timer-sound" src="https://actions.google.com/sounds/v1/alarms/beep_short.ogg"></audio>
</div>

{% endblock %}