{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Turn</th>
                <th>Roundsplayed</th>
                <th>Gamesplayed</th>
                <th>Totalsecondsdrinking</th>
                <th>Gamesfinished</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.name }}</td>
                <td>{% if player.turn %}Yes{% else %}No{% endif %}</td>
                <td>{{ player.roundsPlayed }}</td>
                <td>{{ player.gamesPlayed }}</td>
                <td>{{ player.totalSecondsDrinking }}</td>
                <td>{{ player.gamesFinished }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'id': player.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_new') }}">Create a new player</a>
        </li>
    </ul>
{% endblock %}
