{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <th>Turn</th>
                <td>{% if player.turn %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Roundsplayed</th>
                <td>{{ player.roundsPlayed }}</td>
            </tr>
            <tr>
                <th>Gamesplayed</th>
                <td>{{ player.gamesPlayed }}</td>
            </tr>
            <tr>
                <th>Totalsecondsdrinking</th>
                <td>{{ player.totalSecondsDrinking }}</td>
            </tr>
            <tr>
                <th>Gamesfinished</th>
                <td>{{ player.gamesFinished }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('player_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('player_edit', { 'id': player.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
