html,body{
	height: 100%;
	background-image: url(/images/cardtable.jpg);
	background-repeat: repeat;
	background-size: cover;
	overflow-y: hidden;
}

h1 {
	font-family: 'Luckiest Guy', cursive;
	color: #f39c14;
	font-size: 75px;
	text-align: center;
}

div {
	
}

.game-button{
	font-family: 'Luckiest Guy', cursive;
	/*position: fixed;*/
	/*top: 70%;*/
	/*right: 43%;*/
	color: #f39c14;
	font-size: 75px;
	background-color: transparent;
    border: 1px solid transparent;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select-player-list{
	width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: transparent;
    border: 1px solid #f39c14;
}

.slt{
	/*margin-right: 100px;*/
	max-height: 275px;
	min-height: 275px;
	max-width: 300px;
	min-width: 200px;
	display: inline-block;
	position: absolute;
	/*overflow: scroll;*/
}

.row{
	position: relative;
    top: 200px;
}

.row.row-buttons{
	position: absolute;
	top: 800px;
}

.button{
	font-size: 40px;
	display: inline;
	position: absolute;
	background: -webkit-linear-gradient(red, yellow);
	background: linear-gradient(red, yellow);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.red-button, .black-button, .in-button, .out-button1, .out-button2{
	font-size: 60px;
	color: white;
	background: none;
	-webkit-text-fill-color: unset;
	font-family: 'Luckiest Guy', cursive;
}

.out-button1, .in-button, .out-button2{
	display: none;
	top: 450px;
}

.spade-button{
	background-image: url(/images/Spade.png);
}

.heart-button{
	background-image: url(/images/Heart.png);
}

.club-button{
	background-image: url(/images/Club.png);
}

.diamond-button{
	background-image: url(/images/Diamond.png);
}

.suit-button{
	top: 220px;
	right: -130px;
    z-index: 99;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	width: 100px;
	display: inline-block;
	position: relative;
	margin-right: 70px;
	display: none; 
}

.suit-button:hover{
	cursor: pointer;
	transform: scale(1.2);
}

.out-button1{
	right: 1035px;
}

.in-button{
	right: 695px;
}

.out-button2{
	right: 330px;
}

.black-button{
	color: black;
	position: absolute;
    top: 640px;
    right: 100px;
}

.red-button{
	color: red;
	position: absolute;
    right: 135px;
    top: 280px;
}

.button:hover{
	cursor: pointer;
	transform: scale(1.2);
}

.higher-button{
	/*right: 75px;*/
}

.lower-button{
	top: 80%;
	padding-bottom: 8px;
	/*right: 75px;*/
}

.field{
	position: relative;
	height: 100%;
	top: 5%;
}

.deal-number-of-cards{
	position: absolute;
	right: 125px;
    top: 300px;
    display: none;
}


#timer{
	height: 175px;
	visibility: hidden;
    /*z-index: 99;*/
    /* color: white; */
    background-color: white;
    position: relative;
    display: inline-block;
  	top: 5%;
    right: -90%;
    width: 250px;
    border: 10px solid #6E8894;
    border-radius: 20px;
    background-color: #2F2F2F;
}

.timer-numbers{
	font-size: 2em;
    transform: scaleY(5) scaleX(2);
    position: relative;
    top: 50px;
    right: -55%;
    color: white;
}

.card, #deck-back{
	min-height: 275px;
	max-height: 275px;
	width: 200px;
	max-width: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid;
	box-shadow: 10px 10px 1px rgba(0,0,0,.5);
	background-size : 100% 100%;
	position: absolute;
	display: inline-block;
}


#deck-back{
	background-image: url(/images/cardback.png);
    right: 8%;
    top: 351px;
    z-index: 99;
}

.card:hover{
	box-shadow: 10px 10px 15px #ff7f12;
}

.container, .container-fluid{
	height: 100%;
	float: center;
	/*position: relative;*/
}

.text, .separator, #start-timer-button, .countdown-modal-timer, .correct-display-message, .number-of-secs-countdown{
	font-family: 'Luckiest Guy', cursive;
	font-size: 125px;
	background: -webkit-linear-gradient(red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-top: 10px;
}

.round.text{
	font-size: 40px;
    position: absolute;
    top: 625px;
    right: 105px;
}

.rules-header{
	text-align: center;
    font-size: 85px;
}

.number-of-secs-countdown{
	position: relative;
    right: -130px;
}

.countdown-modal-timer{
	font-size: 175px;
}

.correct-outside-display{
	font-size: 250px;
	position: relative;
	top: 270px;
    right: 85px;
    z-index: 9;

}

.glyphicon.glyphicon-ok{
	color: #6BBF59;
}

.glyphicon.glyphicon-remove{
	color: red;
	font-size: 300px;
	right: 0px;
}

#start-timer-button{
	cursor: pointer;
}



.modal-content{
	background-color: unset;
	border: unset;
	width: 100%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.not-active:hover{
	box-shadow: unset;
}


