.game-logo{
	font-size: 200px;
	font-family: 'Alfa Slab One', cursive;
	background: -webkit-linear-gradient(red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.game-logo-2, .game-logo-3{
	height: 100%;
	width: 100%;
}

.logo-outer-wrapper{
	width: 400px;
	height: 400px;
	object-fit: cover;
	object-position: 50% 50%;
	-webkit-animation: mymove 3s infinite;
	animation: mymove 3s infinite;
}


.play-game-button{
	position: unset;
}

.players-list{
	text-align: center;
    border: 1px solid #f39c14;
    border-radius: 20px;
    width: 50%;
}

.play-game-button:hover{
	color: #f39c14;
	text-decoration: none;
}


/*.left-beer{
	margin-left: auto;
}*/

.logo-outer-wrapper, .col-sm-6{
	display: inline-block;
}

.game-button:hover{
	transform: scale(1.2);
}
@-webkit-keyframes mymove {

  10% { 
  	width: 410px;
  	height: 410px;
  }

  20%{
  	width: 420px;
  	height: 420px;
  }

  30%{
  	width: 430px;
  	height: 430px;
  }

  50%{
  	width: 450px;
  	height: 450px;
  }

  65%{
  	width: 465px;
  	height: 465px;
  }

}

@keyframes mymove {
	50%{
		width: 460px;
  		height: 460px;
	}


  	100%{
  		width: 400px;
  		height: 400px;
  	}
}